* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  max-width: 1140px;
}

/*navbar*/

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 135px;
  height: 82px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.nav-item-container {
  display: flex;
  gap: 48px;
}
.nav-items {
  display: flex;
  list-style: none;
  gap: 48px;
}
.nav-item {
  color: #8987a1;
}
.nav-link {
  text-decoration: none;
  color: #8987a1;
}

/*hero*/
.hero-title {
  font-size: 4rem;
  font-weight: bold;
}
.hero-title-style {
  color: #e95a08;
}

.hero-desc {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.466);
}

.hero {
  display: flex;
  margin-top: 109px;
}

.hero-text-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-right-img {
  display: block;
}

main {
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/*our plant*/
.our-plant-header-title {
  font-size: 3.1rem;
  font-weight: bold;
}

.our-plant-header-desc {
  font-size: 22px;
  color: #00000079;
}
.our-plant-header-container {
  text-align: center;
}
.our-plant-header-title-styling {
  color: #e95a08;
}

.plant-cart-content {
  margin: 30px;
  text-align: center;
}

.cart-title {
  font-size: 22px;
  font-weight: 500;
}
.cart-price {
  font-weight: bold;
  font-size: 22px;
}
.cart-btn {
  width: 100%;
  border: none;
  background-color: #e95a08;
  color: white;
  padding: 16px;
  cursor: pointer;
}

.plant-cart-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.plant-cart-perent {
  padding-top: 50px;
}
.cart-img {
  width: 100%;
}

/*flowers & plants lover*/
.plants-lover {
  display: flex;
  padding-top: 200px;
  gap: 60px;
}
.plants-lover-title {
  font-size: 3.1rem;
  font-weight: bold;
  padding-top: 30px;
}
.plants-lover-desc {
  color: #00000073;
  font-size: 22px;
  margin: 30px 0;
}
.plants-lover-left {
  width: 100%;
  position: relative;
  display: inline-block;
}

.badge-img {
  position: absolute;
  width: 40%;
  display: flex;
  top: -95px;
  right: -95px;
  animation: spiner 10s infinite linear;
}

@keyframes spiner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Latest Deals*/
.latest-deal {
  padding-top: 130px;
}
.deal-text-content {
  text-align: center;
}

.deal-title {
  font-size: 3.1rem;
  font-weight: bold;
}
.deal-title-styles {
  color: #e95a08;
}
.deal-desc {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.411);
}

.deal-image-container {
  display: flex;
  gap: 20px;
  padding-top: 50px;
}

.gellary-img {
  width: 100%;
}

.gellary-img-1,
.gellary-img-3 {
  position: relative;
}

.gellary-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  background-color: rgba(0, 0, 0, 0.438);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  border-radius: 20px;
}

.gellary-overlay-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.438);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  border-radius: 20px;
}

.left-side-img {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.gellary-img {
  border-radius: 20px;
}

.gellary-content {
  text-align: center;
}

.form-section {
  padding-top: 120px;
  width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form-container {
  position: absolute;
  text-align: center;
}
.form-img {
  width: 100%;
}
.form-title {
  font-size: 3.1rem;
  font-weight: bold;
  color: white;
}

input {
  width: 830px;
  height: 50px;
  outline: none;
  border: none;
  padding-left: 10px;
}
.form-box {
  position: relative;
  margin-top: 30px;
}
.form-btn {
  top: 0;
  right: 0;
  background-color: #e95a08;
  border: none;
  color: white;
  width: 186px;
  height: 50px;
  position: absolute;
  cursor: pointer;
}
form {
  display: flex;
  justify-content: center;
}
/*footer*/

footer {
  width: 100%;
  height: 348px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 110px;
}

.footer-desc {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.425);
}

.footer-items,
.footer-item {
  list-style: none;
  color: rgba(0, 0, 0, 0.425);
  padding-bottom: 30px;
}
.social-logo {
  width: 36px;
  height: 36px;
}

.social-icon-items {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 576px) {
  /*navbar*/
  .navbar,
  .hero-text-content,
  .plant-cart-perent,
  .plants-lover,
  .latest-deal,
  .our-plant-header-container {
    padding: 0 20px;
  }
  .nav-items {
    display: none;
  }
  .shoping {
    font-size: 20px;
  }
  .logo {
    width: 50%;
    height: 50%;
  }

  /*hero*/
  .hero {
    flex-direction: column-reverse;
  }
  .hero-title {
    font-size: 24px;
    padding-top: 24px;
  }
  .hero-right-img {
    width: 100%;
  }
  .hero-desc {
    font-size: 14px;
  }

  /*our plant*/
  .plant-cart-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .plant-cart-perent {
    padding-top: 20px;
  }

  .our-plant-header-title {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .our-plant-header-desc {
    font-size: 14px;
  }

  /*flower & lover plants*/
  .plants-lover {
    display: block;
  }
  .badge-img {
    display: none;
  }
  .plants-lover-img {
    width: 100%;
  }
  .plants-lover-list {
    padding: 20px;
  }
  .plants-lover {
    padding-top: 40px;
  }
  .plants-lover-title {
    font-size: 24px;
  }
  .plants-lover-desc {
    font-size: 14px;
  }

  /*lates deal*/
  .deal-image-container {
    display: block;
  }
  .right-side-img {
    padding-top: 20px;
  }

  .deal-title {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .deal-desc {
    font-size: 14px;
  }

  /*form*/
  input {
    width: 218px;
  }
  .form-btn {
    width: 100px;
  }

  .form-img {
    width: 100%;
    height: 275px;
  }
  .form-title {
    font-size: 20px;
  }
  .form-section {
    padding-top: 40px;
  }

  /*footer*/

  footer {
    height: 100%;
    padding: 50px 0;
  }
  .footer-container {
    display: block;
    justify-content: space-between;
    gap: 110px;
  }
}
